body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
  font-family: sans-serif;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  pointer-events: none;
  transition: opacity 0.5s;
}

#info {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  color: white;
  pointer-events: none;
  z-index: 100;
}
